In [1]:
#%pip install pandas psycopg2 sqlalchemy

In [2]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

# Шлях до файлу Excel
excel_path = 'training_data.xlsx'

# Читання даних з Excel-файлу
df_personnel = pd.read_excel(excel_path, sheet_name='Training_Personnel')
df_programs = pd.read_excel(excel_path, sheet_name='Training_Programs')

df_personnel.head()

   ID          Name        Rank  Training_Program_ID Date_Enrolled
0   1      John Doe     Captain                  101    2024-01-10
1   2    Jane Smith  Lieutenant                  102    2024-01-12
2   3  Mike Johnson    Sergeant                  101    2024-01-15
3   4    Anna Brown  Lieutenant                  103    2024-02-01
4   5   Chris Green    Sergeant                  102    2024-02-05

In [3]:
df_programs.head()

,Training_Program_ID,Program_Name,Instructor,Start_Date,End_Date
0,101,Basic Combat,Maj. Winters,2024-01-05,2024-01-20
1,102,Advanced Tactics,Capt. Winters,2024-01-10,2024-01-25
2,103,Medical Aid,Sgt. Hartman,2024-02-01,2024-02-15

In [8]:

def connect_db():
    return psycopg2.connect(
        database="practice2",
        user="postgres",  
        password="admin", 
        host="localhost",
        port="5434"
    )

conn = connect_db()

In [9]:
cursor = conn.cursor()

In [10]:
# Вставка даних у таблицю Training_Programs
for _, row in df_programs.iterrows():
    cursor.execute('''
        INSERT INTO Training_Programs (Training_Program_ID, Program_Name, Instructor, Start_Date, End_Date) 
        VALUES (%s, %s, %s, %s, %s)
        ON CONFLICT (Training_Program_ID) DO NOTHING
    ''', (row['Training_Program_ID'], row['Program_Name'], row['Instructor'], row['Start_Date'], row['End_Date']))

# Вставка даних у таблицю Training_Personnel
for _, row in df_personnel.iterrows():
    cursor.execute('''
        INSERT INTO Training_Personnel (ID, Name, Rank, Training_Program_ID, Date_Enrolled) 
        VALUES (%s, %s, %s, %s, %s)
        ON CONFLICT (ID) DO NOTHING
    ''', (row['ID'], row['Name'], row['Rank'], row['Training_Program_ID'], row['Date_Enrolled']))

conn.commit()
print("Дані успішно завантажено в базу даних PostgreSQL")

Дані успішно завантажено в базу даних PostgreSQL